<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<head>
    <title>Medical Data Monitor</title>
    <meta name="description" content="free website template"/>
    <meta name="keywords" content="enter your keywords here"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../lib/jquery.min.js"></script>
    <script type="text/javascript" src="../js/file_upload.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>

<body>
<div id="main">
    <div id="header">
        <div id="banner">
            <div id="welcome">
                <h1>Medical Data</h1>
            </div><!--close welcome-->
            <div id="welcome_slogan">
                <h1>Monitoring Tool</h1>
            </div><!--close welcome_slogan-->
        </div><!--close banner-->
    </div><!--close header-->

    <div id="menubar">
        <ul id="menu">
            <li><a href="../index.html">Wstęp</a></li>
            <li class="current"><a href="import.html">Import danych</a></li>
            <li><a href="history.html">Historia użycia danych</a></li>
            <li><a href="reports.html">Tworzenie raportu</a></li>
        </ul>
    </div><!--close menubar-->

    <div id="site_content">
        <div id="content_drag_drop">
            <div id="dragandrophandler">Przeciągnij dane DICOM w formacie ZIP, aby dodać do aplikacji</div>
        </div><!--close content-->
    </div><!--close site_content-->

</div><!--close main-->

<div id="footer">
    <a>@Tomasz Szcześniak</a>
</div>

<script type="application/javascript">
    var obj = $("#dragandrophandler");
    obj.on('dragenter', function (e)
    {
        e.stopPropagation();
        e.preventDefault();
        $(this).css('border', '2px solid #0B85A1');
    });
    obj.on('dragover', function (e)
    {
        e.stopPropagation();
        e.preventDefault();
    });
    obj.on('drop', function (e)
    {
        $(this).css('border', '2px dotted #0B85A1');
        e.preventDefault();
        var files = e.originalEvent.dataTransfer.files;

        //We need to send dropped files to Server
        handleFileUpload(files,obj);
    });

    $(document).on('dragenter', function (e)
    {
        e.stopPropagation();
        e.preventDefault();
    });
    $(document).on('dragover', function (e)
    {
        e.stopPropagation();
        e.preventDefault();
        obj.css('border', '2px dotted #0B85A1');
    });
    $(document).on('drop', function (e)
    {
        e.stopPropagation();
        e.preventDefault();
    });
</script>
</body>
</html>
